@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

*,*:before,*:after {
	box-sizing:border-box;
	position: relative;
}

*::-moz-selection { /* Code for Firefox */
  background: #00A3CC !important;
}

*::selection {
  background: #00A3CC !important;
}

html {
	font-family: 'Rubik', sans-serif !important;
}

body {
	padding: 0px !important;
	margin: 0px !important;
	overflow-x:hidden;
	background-color:#EBEAED;
	color:#262626;
}

a {
	text-decoration: none;
	color:#262626;
	cursor: pointer;
}

input, button, select, textarea {
	font-family: 'Rubik', sans-serif;
	border:none;
	background-color:#e3e3e3;
	color:#333;
	padding:0;
}

button, select {
	cursor:pointer;
}

button:focus, input:focus, select:focus, textarea:focus{
	outline:0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}








h1 {
	font-size:calc(12px + 1.2vw);
	justify-content:center;
	display:flex;
	align-items:center;
}

h1:before, h1:after {
	content:'';
	flex-grow:1;
	margin:0 20px;
	border:1px solid #262626;
}

h3 {
	font-size:calc(8.5px + 0.85vw);
	font-weight:bold;
	width:100%;
	padding:0;
	margin:calc(4px + 0.4vw) 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

main {
	width:95vw;
	max-width:1700px;
	margin:auto;
}

.dataCell section {
	display:flex;
	justify-content:space-between;
	padding:5px;
	border-radius:5px;
	transition: 0.2s all;
	cursor:pointer;
	font-size:calc(8px + 0.8vw);
	max-width:80vw;
	width:900px;
	margin:auto;
}

.nativeBar span {
	background-color: #a17c93;
}

.nativeText {
	display:inline-block;
	font-size:calc(6px + 0.6vw);
	text-transform:uppercase;
	color: #6d455e;
	margin:0 5px;
}

.emptyValues {
	width:800px; 
	max-width: 60vw;
	margin:15px auto;
	font-size:calc(10px + 0.4vw);
	text-align: center;
}

#interests section {
	background-color:#c4cbcd;
	flex-wrap:wrap;
	padding:10px;
	border-radius:10px;
}

#interests span {
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#00647d;
	font-weight:bold;
	padding:5px 10px;
	border-radius:10px;
	color:#e3e3e3;
	cursor:pointer;
	margin:10px;
	flex-grow:1;
	transition: 0.2s all;
}

#interests span:hover {
	background-color:#137c96;	
}

#interests img {
	height:calc(10px + 1vw);
	display:inline-block;
	margin:5px 10px;
	filter:invert(1);
}

#exp section {
	background-color:#c4cbcd;
	flex-wrap:wrap;
	padding:10px;
	border-radius:10px;
	align-items:center;
	margin:25px auto;
}

#exp div:last-child, #exp span {
	font-size:calc(6px + 0.6vw);
}

#exp span {
	font-weight:bold;
	text-transform:uppercase;
}

.position1 {
	color:#00647d;
}

#projects section {
	background-color:#c4cbcd;
	flex-wrap:wrap;
	padding:calc(7px + 1.5vw); 
	border-radius:10px;
	align-items:center;	
	font-size:calc(6.5px + 0.65vw);
	margin:25px auto;
}

.moreInfo {
	font-size:calc(7.5px + 0.75vw) !important;
}

.moreInfo:hover {
	color:#00647d
}